@import 'variables';
section.posts {

    div.posts--top {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column: 1 / -1;
        grid-gap: 10px;
        border-bottom: 2px solid #CCC;
        h2 {
            padding-bottom: 15px;
        }
        a {
            text-align: right;
            text-transform: uppercase;
            color: rgba(0,0,0,.54);
            fill: rgba(0,0,0,.54);
        }
        a:hover {

        }
    }
    div.posts-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
      div.post {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2px;
          margin: 10px 0;
          .col-img {
              padding: 0;
              img {
                  width: 99%;
                  @media (max-width: 576px) {
                    display:none;
                  }
              }
          }
          h1 {
              padding-right: 60px;
              line-height: 0.9;
              a {
                  font-size: 24px;
                  text-decoration: none;
                  color: $h1
              }
              a:hover {
                  text-decoration: underline;
                  cursor: pointer;
              }
          }
          h2.desc {
              font-style: normal;
              letter-spacing: 0;
              font-size: 16px;
              line-height: 20px;
              color:rgba(61, 56, 56, 0.54)
          }
          h6.author {
              a {
                  color: $author;
                  font-style: normal;
              }
              a:hover {
                  text-decoration: underline;
                  cursor: pointer;
              }
          }
          h6.date {
              font-size: 13px;
              color: rgba(0,0,0,.5);
          }
          @media (max-width: 576px) {
            grid-template-columns: 1fr;
          }
      }
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }
}


