@import 'variables.scss';

footer {
   padding: 5px 0;
   border-top: 1px solid $yellow;
   div.left {
      div.share {
         text-align: center;
         a{
            color: $gris;
            font-size: 25px;
            padding-right: 5px
         }
      }
   }
   div.right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
         text-align: right;
         color: $gris;
         @media (max-width: 576px) {
            display: block;
            margin: 0 auto;
         }
      }
      div.pages {
         ul {
            margin: 0;
            li {
               float: left;
               list-style: none;
               margin-right: 9px;
               a {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  color: $gris;
               }
            }
         }
      }
   }

}
