@import 'variables.scss';

footer {
   padding: 5px 0;
   border-top: 1px solid $yellow;
   div.left {
      div.share {
         text-align: center;
         a{
            color: $gris;
            font-size: 25px;
            padding-right: 5px
         }
      }
   }
   div.right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
         text-align: right;
         color: $gris;
      }
      div.pages {
         ul {
            margin: 0;
            li {
               float: left;
               list-style: none;
               margin-right: 9px;
               a {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  color: $gris;
               }
            }
         }
      }
   }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
   footer {
      padding: 60px 10px;
      margin-top: 40px;
      background-color: $yellow;
      div.left {
         div.share {
            a {
               color: black;
               font-size: 25px;
               padding-right: 5px
            }

         }
      }
      div.right {

         div.pages {
            ul {
               margin: 0;
               li {
                  float: left;
                  list-style: none;
                  margin-right: 9px;
                  a {
                     font-size: 22px;
                     color: black;
                  }
               }
            }
         }
      }
   }
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
   footer {
      padding: 28px 10px;
      margin-top: 29px;
      background-color: $yellow;
      div.left {
         text-align: center;
         div.share {
            text-align: center;
            a{
               color: black;
               font-size: 25px;
               padding-right: 5px
            }
         }
      }
      div.right {
         span {
            text-align: center;
            font-size: 23px;
            display: block;
            width: 100%;
         }
         div.pages {
            ul {
               margin: 0;
               overflow: hidden;
               padding: 0;
               li {
                  float: left;
                  list-style: none;
                  margin-right: 9px;
                  width: 100%;
                  text-align: center;
                  a {
                     font-size: 22px;
                     color: black;
                  }
               }
            }
         }
      }
   }
}
// Phone
@media (max-width: 320px) {
   footer {
      padding: 28px 10px;
      margin-top: 40px;
      background-color: $yellow;
      div.left {
         text-align: center;
         div.share {
            text-align: center;
            a{
               color: black;
               font-size: 25px;
               padding-right: 5px
            }
         }
      }
      div.right {
         span {
            text-align: center;
            display: block;
            width: 100%;
         }
         div.pages {
            ul {
               margin: 0;
               li {
                  float: left;
                  list-style: none;
                  margin-right: 9px;
                  a {
                     font-size: 22px;
                     color: black;
                  }
               }
            }
         }
      }
   }
}