@import 'variables';

header {
    //background-color: $yellow;
    margin-bottom: 70px;
    nav {
        a.navbar-brand {
            display: flex;
            align-items: center;
            color: #1abf54;
            width: 15%;
            @media (max-width: 576px) {
                width: 70%;
            }
        }
        button {

        }
        div.collapse {
            ul {
                li {
                    a {
                        text-transform: uppercase;
                        color: $gris !important;

                    }
                    a:hover{
                        color:red !important;
                    }
                }
            }
        }
    }

}