section.posts div.posts--top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 1/-1;
  grid-gap: 10px;
  border-bottom: 2px solid #CCC;
}

section.posts div.posts--top h2 {
  padding-bottom: 15px;
}

section.posts div.posts--top a {
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
}

section.posts div.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

section.posts div.posts-grid div.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin: 10px 0;
}

section.posts div.posts-grid div.post .col-img {
  padding: 0;
}

section.posts div.posts-grid div.post .col-img img {
  width: 99%;
}

@media (max-width: 576px) {
  section.posts div.posts-grid div.post .col-img img {
    display: none;
  }
}

section.posts div.posts-grid div.post h1 {
  padding-right: 60px;
  line-height: 0.9;
}

section.posts div.posts-grid div.post h1 a {
  font-size: 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

section.posts div.posts-grid div.post h1 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.posts div.posts-grid div.post h2.desc {
  font-style: normal;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(61, 56, 56, 0.54);
}

section.posts div.posts-grid div.post h6.author a {
  color: #464646;
  font-style: normal;
}

section.posts div.posts-grid div.post h6.author a:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.posts div.posts-grid div.post h6.date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  section.posts div.posts-grid div.post {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  section.posts div.posts-grid {
    grid-template-columns: 1fr;
  }
}

