section.featured-members .left .posts--top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  border-bottom: 2px solid #CCC;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
}

section.featured-members .left .posts--top h2 a {
  text-align: right;
  color: #212529;
  font-size: 32px;
}

section.featured-members .left .posts--top a {
  text-align: right;
  color: #212529;
  font-size: 20px;
}

section.featured-members .left hr {
  height: 30px;
  border: 0;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  background: url(https://advancedreact.com/images/both-squiggles.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: red;
}

section.featured-members .left .posts .post {
  margin: 10px 0;
}

section.featured-members .left .posts .post .col-img {
  padding: 0;
}

section.featured-members .left .posts .post .col-img img {
  width: 100%;
  height: 100px;
}

section.featured-members .left .posts .post h1 {
  padding-right: 60px;
}

section.featured-members .left .posts .post h1 a {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

section.featured-members .left .posts .post h1 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.featured-members .left .posts .post h2.desc {
  font-style: normal;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color: #464646;
}

section.featured-members .left .posts .post h6.author a {
  color: #464646;
  font-style: normal;
}

section.featured-members .left .posts .post h6.author a:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.featured-members .left .posts .post h6.date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

section.featured-members .right {
  position: relative;
}

section.featured-members .right h2.top {
  border-bottom: 2px solid #CCC;
  padding-bottom: 23px;
}

section.featured-members .right div.posts div.post {
  margin: 10px;
}

section.featured-members .right div.posts div.post div.left span {
  font-size: 34px;
  color: rgba(0, 0, 0, 0.15);
}

section.featured-members .right div.posts div.post div.right h1 {
  font-size: 18px !important;
  line-height: 20px !important;
}

section.featured-members .right div.posts div.post div.right h1 a {
  color: rgba(0, 0, 0, 0.84);
  font-weight: bold;
}

section.featured-members .right div.posts div.post div.right h5.author--categorie {
  font-size: 14px;
}

section.featured-members .right div.posts div.post div.right h5.author--categorie a {
  color: rgba(0, 0, 0, 0.7);
}

section.featured-members .right div.posts div.post div.right h5.author--categorie a:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

section.featured-members .right div.posts div.post div.right h6.date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

section.featured-members .right div.footer {
  position: absolute;
  bottom: 20px;
}

section.featured-members .right div.footer a {
  color: #464646;
  font-size: 20px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  section.featured-members .left .posts--top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    border-bottom: 2px solid #CCC;
  }

  section.featured-members .left .posts--top h2 {
    padding-bottom: 15px;
  }

  section.featured-members .left .posts--top a {
    text-align: right;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
  }

  section.featured-members .left .posts .post {
    margin: 10px 0;
  }

  section.featured-members .left .posts .post .col-img {
    padding: 0;
  }

  section.featured-members .left .posts .post .col-img img {
    width: 100%;
    height: 100px;
  }

  section.featured-members .left .posts .post h1 {
    padding-right: 60px;
  }

  section.featured-members .left .posts .post h1 a {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
  }

  section.featured-members .left .posts .post h1 a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h2.desc {
    font-style: normal;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
  }

  section.featured-members .left .posts .post h6.author a {
    color: #464646;
    font-style: normal;
  }

  section.featured-members .left .posts .post h6.author a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h6.date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right {
    position: relative;
  }

  section.featured-members .right h2.top {
    border-bottom: 2px solid #CCC;
    padding-bottom: 23px;
  }

  section.featured-members .right div.posts div.post {
    margin: 10px;
  }

  section.featured-members .right div.posts div.post div.left span {
    font-size: 34px;
    color: rgba(0, 0, 0, 0.15);
  }

  section.featured-members .right div.posts div.post div.right h1 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  section.featured-members .right div.posts div.post div.right h1 a {
    color: rgba(0, 0, 0, 0.84);
    font-weight: bold;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie {
    font-size: 14px;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a {
    color: rgba(0, 0, 0, 0.7);
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }

  section.featured-members .right div.posts div.post div.right h6.date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right div.footer {
    position: absolute;
    bottom: 20px;
  }

  section.featured-members .right div.footer a {
    color: #464646;
    font-size: 20px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  section.featured-members .left .posts--top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    border-bottom: 2px solid #CCC;
  }

  section.featured-members .left .posts--top h2 {
    padding-bottom: 15px;
  }

  section.featured-members .left .posts--top a {
    text-align: right;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
  }

  section.featured-members .left .posts .post {
    margin: 10px 0;
  }

  section.featured-members .left .posts .post .col-img {
    padding: 0;
  }

  section.featured-members .left .posts .post .col-img img {
    width: 100%;
    height: 100px;
  }

  section.featured-members .left .posts .post h1 {
    padding-right: 0;
    line-height: 0.8;
  }

  section.featured-members .left .posts .post h1 a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
  }

  section.featured-members .left .posts .post h1 a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h2.desc {
    font-style: normal;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
  }

  section.featured-members .left .posts .post h6.author a {
    color: #464646;
    font-style: normal;
  }

  section.featured-members .left .posts .post h6.author a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h6.date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right h2.top {
    border-bottom: 2px solid #CCC;
    padding-bottom: 23px;
  }

  section.featured-members .right div.posts div.post {
    margin: 10px;
  }

  section.featured-members .right div.posts div.post div.left span {
    font-size: 34px;
    color: rgba(0, 0, 0, 0.15);
  }

  section.featured-members .right div.posts div.post div.right h1 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  section.featured-members .right div.posts div.post div.right h1 a {
    color: rgba(0, 0, 0, 0.84);
    font-weight: bold;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie {
    font-size: 14px;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a {
    color: rgba(0, 0, 0, 0.7);
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }

  section.featured-members .right div.posts div.post div.right h6.date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right div.footer {
    position: relative;
    bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }

  section.featured-members .right div.footer a {
    color: #464646;
    font-size: 19px;
    padding-right: 15px;
  }
}

@media (max-width: 320px) {
  section.featured-members .left .posts--top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    border-bottom: 2px solid #CCC;
  }

  section.featured-members .left .posts--top h2 {
    padding-bottom: 15px;
  }

  section.featured-members .left .posts--top a {
    text-align: right;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
  }

  section.featured-members .left .posts .post {
    margin: 10px 0;
  }

  section.featured-members .left .posts .post .col-img {
    padding: 0;
  }

  section.featured-members .left .posts .post .col-img img {
    width: 100%;
    height: 100px;
  }

  section.featured-members .left .posts .post h1 {
    padding-right: 0;
    line-height: 0.8;
  }

  section.featured-members .left .posts .post h1 a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
  }

  section.featured-members .left .posts .post h1 a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h2.desc {
    font-style: normal;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
  }

  section.featured-members .left .posts .post h6.author a {
    color: #464646;
    font-style: normal;
  }

  section.featured-members .left .posts .post h6.author a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  section.featured-members .left .posts .post h6.date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right h2.top {
    border-bottom: 2px solid #CCC;
    padding-bottom: 23px;
  }

  section.featured-members .right div.posts div.post {
    margin: 10px;
  }

  section.featured-members .right div.posts div.post div.left span {
    font-size: 34px;
    color: rgba(0, 0, 0, 0.15);
  }

  section.featured-members .right div.posts div.post div.right h1 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  section.featured-members .right div.posts div.post div.right h1 a {
    color: rgba(0, 0, 0, 0.84);
    font-weight: bold;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie {
    font-size: 14px;
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a {
    color: rgba(0, 0, 0, 0.7);
  }

  section.featured-members .right div.posts div.post div.right h5.author--categorie a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }

  section.featured-members .right div.posts div.post div.right h6.date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  section.featured-members .right div.footer {
    position: relative;
    bottom: 20px;
    text-align: center;
  }

  section.featured-members .right div.footer a {
    color: #464646;
    font-size: 20px;
    padding-right: 15px;
  }
}

