footer {
  padding: 5px 0;
  border-top: 1px solid #ffc600;
}

footer div.left div.share {
  text-align: center;
}

footer div.left div.share a {
  color: #464646;
  font-size: 25px;
  padding-right: 5px;
}

footer div.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer div.right span {
  text-align: right;
  color: #464646;
}

@media (max-width: 576px) {
  footer div.right span {
    display: block;
    margin: 0 auto;
  }
}

footer div.right div.pages ul {
  margin: 0;
}

footer div.right div.pages ul li {
  float: left;
  list-style: none;
  margin-right: 9px;
}

footer div.right div.pages ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #464646;
}

