header {
  margin-bottom: 70px;
}

header nav a.navbar-brand {
  display: flex;
  align-items: center;
  color: #1abf54;
  width: 15%;
}

@media (max-width: 576px) {
  header nav a.navbar-brand {
    width: 70%;
  }
}

header nav div.collapse ul li a {
  text-transform: uppercase;
  color: #464646 !important;
}

header nav div.collapse ul li a:hover {
  color: red !important;
}

