@import url(https://fonts.googleapis.com/css?family=Roboto);section.post {
  padding-bottom: 20px;
}

section.post div.image--top {
  margin-top: 10px;
}

section.post div.image--top img {
  width: 100%;
  height: 500px;
}

section.post div.image--top p.credit {
  text-align: center;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

section.post div.left div.share a {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: black;
}

section.post div.right h3.categorie {
  text-transform: uppercase;
  color: #ffc600;
  padding-top: 30px;
}

section.post div.right h1.title {
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
  color: #000;
  background-size: auto 6px;
  display: inline-block;
  text-shadow: 1px 0px black;
}

section.post div.right h2.description {
  color: #464646;
  font-size: 17px;
  margin-bottom: 30px;
}

section.post div.right div.user div.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section.post div.right div.user div.info {
  margin-bottom: 30px;
}

section.post div.right div.user div.info div.name--follow {
  display: inline;
}

section.post div.right div.user div.info div.name--follow h6 {
  display: inline;
  margin-right: 5px;
}

section.post div.right div.user div.info div.name--follow button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section.post div.right div.user div.info div.date {
  color: #464646;
}

section.post div.right article {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.84);
  font-family: "Roboto", sans-serif;
}

section.post div.right article img {
  width: 100%;
}

@media (max-width: 1200px) {
  section.post div.image--top {
    margin-top: 10px;
  }

  section.post div.image--top img {
    width: 100%;
  }

  section.post div.image--top p.credit {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
  }

  section.post div.left div.share a i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }

  section.post div.right h3.categorie {
    text-transform: uppercase;
    color: #1abebf;
  }

  section.post div.right h1.title {
    font-family: Arial;
    margin: 20px 0;
  }

  section.post div.right h2.description {
    color: #464646;
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.post div.right div.user div.image img {
    width: 100%;
  }

  section.post div.right div.user div.info {
    margin-bottom: 30px;
  }

  section.post div.right div.user div.info div.name--follow {
    display: inline;
  }

  section.post div.right div.user div.info div.name--follow h6 {
    display: inline;
    margin-right: 5px;
  }

  section.post div.right div.user div.info div.name--follow button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section.post div.right div.user div.info div.date {
    color: #464646;
  }

  section.post div.right article {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 992px) {
  section.post div.image--top {
    margin-top: 10px;
  }

  section.post div.image--top img {
    width: 100%;
  }

  section.post div.image--top p.credit {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
  }

  section.post div.left div.share a i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }

  section.post div.right h3.categorie {
    text-transform: uppercase;
    color: #1abebf;
  }

  section.post div.right h1.title {
    font-family: Arial;
    margin: 20px 0;
  }

  section.post div.right h2.description {
    color: #464646;
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.post div.right div.user div.image img {
    width: 100%;
  }

  section.post div.right div.user div.info {
    margin-bottom: 30px;
  }

  section.post div.right div.user div.info div.name--follow {
    display: inline;
  }

  section.post div.right div.user div.info div.name--follow h6 {
    display: inline;
    margin-right: 5px;
  }

  section.post div.right div.user div.info div.name--follow button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section.post div.right div.user div.info div.date {
    color: #464646;
  }

  section.post div.right article {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 768px) {
  section.post div.image--top {
    margin-top: 10px;
  }

  section.post div.image--top img {
    width: 100%;
  }

  section.post div.image--top p.credit {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
  }

  section.post div.left div.share a i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }

  section.post div.right h3.categorie {
    text-transform: uppercase;
    color: #1abebf;
  }

  section.post div.right h1.title {
    font-family: Arial;
    margin: 20px 0;
  }

  section.post div.right h2.description {
    color: #464646;
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.post div.right div.user div.image img {
    width: 100%;
  }

  section.post div.right div.user div.info {
    margin-bottom: 30px;
  }

  section.post div.right div.user div.info div.name--follow {
    display: inline;
  }

  section.post div.right div.user div.info div.name--follow h6 {
    display: inline;
    margin-right: 5px;
  }

  section.post div.right div.user div.info div.name--follow button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section.post div.right div.user div.info div.date {
    color: #464646;
  }

  section.post div.right article {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding: 0;
  }

  section.post div.image--top {
    margin-top: 10px;
  }

  section.post div.image--top img {
    width: 100%;
    height: 111px;
  }

  section.post div.image--top p.credit {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
  }

  section.post div.bottom {
    margin: 0 3px;
  }

  section.post div.bottom div.left div.share {
    text-align: center;
  }

  section.post div.bottom div.left div.share a {
    display: inline-block;
  }

  section.post div.bottom div.left div.share a i {
    text-align: center;
    font-size: 25px;
  }

  section.post div.bottom div.right {
    text-align: center;
    padding: 0;
  }

  section.post div.bottom div.right h3.categorie {
    text-transform: uppercase;
    color: #1abebf;
  }

  section.post div.bottom div.right h1.title {
    font-family: Arial;
    margin: 20px 0;
    font-size: 33px;
    font-weight: bold;
  }

  section.post div.bottom div.right h2.description {
    color: #464646;
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.post div.bottom div.right div.user div.image img {
    width: 25%;
    padding-bottom: 5px;
  }

  section.post div.bottom div.right div.user div.info {
    margin-bottom: 30px;
  }

  section.post div.bottom div.right div.user div.info div.name--follow {
    display: inline;
  }

  section.post div.bottom div.right div.user div.info div.name--follow h6 {
    display: inline;
    margin-right: 5px;
  }

  section.post div.bottom div.right div.user div.info div.name--follow button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section.post div.bottom div.right div.user div.info div.date {
    color: #464646;
  }

  section.post div.bottom div.right article {
    font-size: 19px;
    text-align: left;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Roboto", sans-serif;
    padding: 3px;
  }
}

@media (max-width: 320px) {
  section.post div.image--top img {
    height: 111px;
  }

  section.post div.bottom {
    margin: 0 3px;
  }

  section.post div.bottom div.left div.share {
    text-align: center;
  }

  section.post div.bottom div.left div.share a i {
    text-align: center;
  }

  section.post div.bottom div.right {
    text-align: center;
    padding: 0;
  }

  section.post div.bottom div.right h3.categorie {
    text-transform: uppercase;
    color: #ffc600;
  }

  section.post div.bottom div.right h1.title {
    font-family: Arial;
    margin: 20px 0;
    font-size: 30px;
  }

  section.post div.bottom div.right h2.description {
    color: #464646;
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.post div.bottom div.right div.user div.image img {
    width: 25%;
    padding-bottom: 5px;
  }

  section.post div.bottom div.right div.user div.info {
    margin-bottom: 30px;
  }

  section.post div.bottom div.right div.user div.info div.name--follow {
    display: inline;
  }

  section.post div.bottom div.right div.user div.info div.name--follow h6 {
    display: inline;
    margin-right: 5px;
  }

  section.post div.bottom div.right div.user div.info div.name--follow button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section.post div.bottom div.right div.user div.info div.date {
    color: #464646;
  }

  section.post div.bottom div.right article {
    font-size: 16px;
    text-align: left;
    color: rgba(0, 0, 0, 0.84);
    font-family: "Roboto", sans-serif;
    padding: 3px;
  }
}

