@import '../_variables.scss';

footer {
   background-color: $yellow;
   margin-top: 30px;
   color: #000;
   text-align: center;
   section {
      padding: 10px;
      p {

      }
   }

}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}
// Phone
@media (max-width: 320px) {

}