@import '../variables.scss';
section.welcome {
   background-color: #86f285;
   padding: 30px 10px;
   margin-bottom: 50px;
   .text {
       width: 100%;
       text-align: center;
       h1 {
           font-style: normal!important;
           font-weight: 500!important;
           font-size: 42px!important;
           line-height: 48px!important;
       }
       h5 {
           padding: 10px 0
       }
       > div {
           button.get--started {
               background-color: #1C9963;
               margin-right: 5px;
               a {
                   text-decoration: none;
                   color: #FFF;
               }
           }
           button.learn--more {
               background: none;
               border: 1px solid #292929;
               a {
                text-decoration: none;
                color: #FFF;
                }
           }
       }
   }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
   section.welcome {
      background-color: #86f285;
      padding: 30px 10px;
      margin-bottom: 50px;
      .text {
          width: 100%;
          text-align: center;
          h1 {
              font-style: normal!important;
              font-weight: 500!important;
              font-size: 42px!important;
              line-height: 48px!important;
          }
          h5 {
              padding: 10px 0
          }
          > div {
              button.get--started {
                  background-color: #1C9963;
                  color: #FFF;
              }
              button.learn--more {
                  background: none;
                  border: 1px solid #292929;
              }
          }
      }
   }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Phone
@media (max-width: 320px) {
   section.welcome {
      background-color: #86f285;
      padding: 10px 6px;
      margin-bottom: 50px;
      .text {
          width: 100%;
          text-align: center;
          h1 {
              font-style: normal!important;
              font-weight: 500!important;
              font-size: 27px!important;
              line-height: 48px!important;
          }
          h5 {
              padding: 10px 0
          }
          > div {
              button.get--started {
                  background-color: #1C9963;
                  color: #FFF;
              }
              button.learn--more {
                  background: none;
                  border: 1px solid #292929;
              }
          }
      }
   }
}
