@import '../variables.scss';
section.welcome {
   background-color: #86f285;
   padding: 30px 10px;
   margin-bottom: 50px;
   .text {
       width: 100%;
       text-align: center;
       h3 {
           font-style: normal!important;
           font-weight: 500!important;
           font-size: 42px!important;
           line-height: 48px!important;
           @media (max-width: 576px) {
            font-size: 27px!important;
            line-height: 48px!important;
           }
       }
       span {
           padding: 10px 0
       }
       > div {
           button.get--started {
               background-color: #1C9963;
               margin-right: 5px;
               border: 0;
               a {
                   text-decoration: none;
                   color: #FFF;
               }
           }
           button.learn--more {
               background: none;
               border: 1px solid #292929;
               a {
                text-decoration: none;
                color: #FFF;
                }
           }
       }
   }
   @media (max-width: 576px) {
    padding: 10px 6px;
   }
}